<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="privateCatStream" value="cats-cats-private"/>
    <add key="privateEventStoreIp" value="127.0.0.1"/>
    <add key="privateEventStorePort" value="1113"/>
    <add key="identityEventStoreIp" value="127.0.0.1"/>
    <add key="identityEventStorePort" value="1113"/>
    <add key="publicIdentityStream" value="jim-users-public"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>