source http://nuget.org/api/v2

nuget Fake 3.13.2
nuget Suave 0.21.0
nuget EventStore.Client 3.0.1
nuget FsPickler 1.0.6
nuget FsPickler.Json 1.0.6
nuget Intelliplan.Logary 2.3.2
nuget Intelliplan.Logary.Suave 2.3.2
nuget Intelliplan.Logary.Suave
nuget NodaTime 1.3.0
nuget ConfigMapper 0.0.6
nuget Newtonsoft.Json 6.0.8
nuget Suave.Testing 0.21.0
nuget Suave.Testing
nuget Fuchu 0.4.0
nuget Unquote 2.2.2
nuget xunit.runners